body {
	margin:0px;
	background-color: #fafafa;
}
p {
	margin:0px;
}

nav {
	width:100%;
	height:78px;
	border-bottom: 1px solid #edeeee;
	background-color: #fff;
}

@media not screen and (min-width : 431px) and (min-device-width: 431px)  {
	.content .logo img {
		height:28px;
	}
	.content .personInfo {
		float:right;
	    padding-top: 5px;
	    margin-right: 20px;
	    font-size:13px;
	}
	nav .content {
		width:100%;
		margin: 0 auto;
		padding-top:25px;
	}
}

@media screen and (min-width : 431px) and (min-device-width: 431px)  {
	.content .logo img {
		height:38px;
	}
	.content .personInfo {
		float:right;
	    padding-top: 8px;
	    margin-right: 20px;
	}
	nav .content {
		width:100%;
		margin: 0 auto;
		padding-top:20px;
	}
		
}

@media not screen and (min-width : 601px) and (min-device-width: 601px)  {
	@media not screen and (min-width : 431px) and (min-device-width: 431px)  {
		nav .content {
			width:100%;
			margin: 0 auto;
			padding-top:25px;
		}
	}
	
	@media screen and (min-width : 431px) and (min-device-width: 431px)  {
		nav .content {
			width:100%;
			margin: 0 auto;
			padding-top:20px;
		}
	}
	.mainContainer {
		margin: 0 auto;
		width: 100%;
		
	}
	.mainContainer section {
	    margin-top: 2%;
		border: 0px;
		margin-bottom:9%
	}
	
	.mainContainer section .mainData .commentAdd .commentInput {
		float:left;
		border: 0px;
		height: 18px;
		font-size: 15px;
	    line-height: 18px;
	    outline: none;
	    background-color: #fafafa;
		width: 60%;
	    font-family: 'proxima-nova', 'Helvetica Neue', Arial, Helvetica, sans-serif;
	}
	.mainContainer section .mainData .content .text {
		margin-top:5px;
		text-decoration: none;
	    font-size: 90%;
	    line-height: 22px;
	    margin-right: 5px;
	    font-weight: 450;
	    overflow: hidden;
	    text-align: left;
		color: #4b4f54;
		
	}
}


@media screen and (min-width : 601px) and (min-device-width: 601px){
	nav .content {
		width:600px;
		margin: 0 auto;
		padding-top:20px;
	}
	
	.mainContainer {
		margin: 0 auto;
		width: 600px;

	}
	.mainContainer section {
	    margin-top: 55px;
		border: 1px solid #edeeee;
		background-color: #fff;
	}
	.mainContainer section .mainData .commentAdd .commentInput {
		float:left;
		border: 0px;
		height: 18px;
		font-size: 15px;
	    line-height: 18px;
	    outline: none;
		width: 80%;
	    font-family: 'proxima-nova', 'Helvetica Neue', Arial, Helvetica, sans-serif;
	}
	
	.mainContainer section .mainData .content .text {
		margin-top:5px;
		text-decoration: none;
	    font-size: 90%;
	    line-height: 22px;
	    margin-right: 5px;
	    font-weight: 450;
	    overflow: hidden;
	    text-align: left;
	    text-overflow: ellipsis;
	    white-space: nowrap;
		color: #4b4f54;
		
	}
}


.content .logo {
	float:left;
	padding-left:10px;
}






.mainContainer section .nav {
	height: 36px;
	padding: 14px 20px;
	
}

.mainContainer section .nav .userImg{
	float:left;
}
.mainContainer section .nav .userImg img{
	float:left;
 	width:28px;
 	height:28px;
 	border-radius: 50%;
}

.userId {
	color: #125688;
    text-decoration: none;
    font-size: 16px;
    line-height: 22px;
    
    font-weight: 600;
    overflow: hidden;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.mainContainer section .nav .userImg .userId {
	float:left;
	padding: 6px 0px 0px 10px;
	
	
}


.mainContainer section .nav .updateTime{
	float:right;
	padding-top: 10px;
	color: #a5a7aa;
	font-size: 15px;
    line-height: 18px;
    font: inherit;
}

.mainContainer section .img img{
	width:100%;
}


.mainContainer section .mainData {
	padding: 0px 24px 0px 24px;
	
}


.mainContainer section .mainData .likeCount {
	margin-top:20px;
    font-size: 100%;
    font-weight:600;
    vertical-align: baseline;
    line-height: 16px;
	color: #4b4f54;
	height:18px;
}

.mainContainer section .mainData .content {
	border-bottom: 1px solid #eeefef;
}




.mainContainer section .mainData .content .text .userId {
	color: #125688;
	font-weight: 600;
	margin-right: 5px;
}

.mainContainer section .mainData .content .text .hashtag {
	color: #125688;
}

.mainContainer section .mainData .content .comment {
	padding-bottom: 15px;
}



.mainContainer section .mainData .commentAdd {
	padding-top: 20px;
	height: 40px;	
}

.mainContainer section .mainData .commentAdd .likeBtn {
	float:left;
	margin-right: 10px;
}




.mainContainer section .mainData .commentAdd .more {
	padding-top: 5px;
	float:right;
}

.mainContainer section .mainData .commentAdd .more img {
	width: 32px;
}

.mainContainer .moreFeed {
	width:120px;
	height:120px;
	border-radius:100%;
    text-align:center;
    line-height:120px;
	border:2px solid #4090db;	
	font-size:13px;	
	color: #3079d6;
	margin: 20px 0px 20px 240px;
}

.mainContainer .moreFeed:hover {
	border:2px solid #125688;
	color: #125688;		
}
    






