body {
	margin:0px;
	background-color: #fafafa;
}
a{
	    color: #125688;
	     text-decoration:none;
}
p {
	margin:0px;
}

nav {
	width:100%;
	height:78px;
	border-bottom: 1px solid #edeeee;
	background-color: #fff;
}

@media not screen and (min-width : 431px) and (min-device-width: 431px)  {
	.content .logo img {
		height:28px;
	}
	.content .personInfo {
		float:right;
	    padding-top: 5px;
	    margin-right: 20px;
	    font-size:13px;
	}
	nav .content {
		width:100%;
		margin: 0 auto;
		padding-top:25px;
	}
}

@media screen and (min-width : 431px) and (min-device-width: 431px)  {
	.content .logo img {
		height:38px;
	}
	.content .personInfo {
		float:right;
	    padding-top: 8px;
	    margin-right: 20px;
	}
	nav .content {
		width:100%;
		margin: 0 auto;
		padding-top:20px;
	}
		
}

@media not screen and (min-width : 936px) and (min-device-width: 936px)  {
	@media not screen and (min-width : 431px) and (min-device-width: 431px)  {
		nav .content {
			width:100%;
			margin: 0 auto;
			padding-top:25px;
		}
	}
	
	@media screen and (min-width : 431px) and (min-device-width: 431px)  {
		nav .content {
			width:100%;
			margin: 0 auto;
			padding-top:20px;
		}
	}
	.mainContainer {
		margin: 0 auto;
		width: 100%;
		padding-top:40px;
	}
}


@media screen and (min-width : 936px) and (min-device-width: 936px){
	nav .content {
		width:935px;
		margin: 0 auto;
		padding-top:20px;
	}
	
	.mainContainer {
		margin: 0 auto;
		width: 935px;
		padding-top:40px;
	}
}


.content .logo {
	float:left;
	padding-left:10px;
}

.userId {
	color: #125688;
    text-decoration: none;
    font-size: 16px;
    line-height: 22px;
    
    font-weight: 600;
    overflow: hidden;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@media not screen and (min-width : 736px) and (min-device-width: 736px)  {
	.mainContainer {
	    padding-top: 10px;
	}
	.mainContainer .navbar {
		padding: 20px 0px;
	    height: 75px;
	    margin-bottom: 10px;
	}
	
	.mainContainer .navbar .userImg {
		float:left;	
		margin:0px 30px;
	}
	
	.mainContainer .navbar .userImg img {
		width: 77px;
		height:77px;
		border-radius:100%;
		border: 1px solid #edeeee;
	}
	
	.mainContainer .navbar .userInfo {
		margin-top: 0px;
	}
	
	.mainContainer .navbar .userId_ {
		width: 600px;
	    height: 43px;
	}
	
	.mainContainer .navbar .userId__ {
		float: left;
	    font-size: 19px;
	    line-height: 40px;
	    color: #4b4f54;
	    font-weight: 300;
	    margin-right: 13px;
	}
	.mainContainer .navbar .userId_ .modifyBtn {
		float: left;
	    width: 50px;
	    height: 13px;
	    border: 1px solid #818488;
	    border-radius: 4px;
	    color: #818488;
	    padding: 5px 11px;
	    font-size: 12px;
	    margin-top: 6px;
	    cursor: pointer;

	}
	
	.mainContainer .navbar .userIntro {
		color: #4b4f54;
	    display: inline;
	    font-weight: 600;
	    font-size: 15px;
	    line-height: 14px;
	}
	
	.mainContainer .navbar .userIntro .hashtag {
		font-weight:400;
		color: #125688;
	}
	@media not screen and (min-width : 450px) and (min-device-width: 450px)  {
		.mainContainer .navbar .userHistory {
		/* 	clear:both; */
		}
		.mainContainer .navbar .userHistory div{
			/* float: left;
		    margin-right: 35px; */
		    font-weight: 400;
		}
		    
		    
		.mainContainer .navbar .userHistory{
			line-height: 33px;
		    font-size: 13px;
		    margin: 0 auto;
		   /*  position: relative;
		    left: 50%;
		    top: 25%;
		    margin-top: 20px;
		    margin-left: -158px; */
		}
		
		.mainContainer .navbar .userHistory .num {
			font-weight:600;
		}
		.mainContainer .img_list {
			clear: both;
			margin-top: 0px;
		}
	}
	@media screen and (min-width : 450px) and (min-device-width: 450px)  {
		.mainContainer .navbar .userHistory div{
			float: left;
		    margin-right: 35px;
		    font-weight: 400;
		}
		    
		    
		.mainContainer .navbar .userHistory{
			line-height: 33px;
	    	font-size: 13px;
		}
		
		.mainContainer .navbar .userHistory .num {
			font-weight:600;
		}
		.mainContainer .img_list {
			clear: both;
		}
	}
	
}

@media screen and (min-width : 736px) and (min-device-width: 736px)  {
	.mainContainer .navbar {
		padding:20px 0px;
		height:135px;
		margin-bottom:45px;
	}
	
	.mainContainer .navbar .userImg {
		float:left;	
		margin:0px 70px;
	}
	
	.mainContainer .navbar .userImg img {
		width: 150px;
		height:150px;
		border-radius:100%;
		border: 1px solid #edeeee;
	}
	
	.mainContainer .navbar .userInfo {
		margin-top: 15px;
	}
	
	.mainContainer .navbar .userId_ {
		width: 600px;
	    height: 49px;
	}
	
	.mainContainer .navbar .userId__ {
		float:left;
		font-size: 24px;
	    line-height: 40px;
	    color: #4b4f54;
	    font-weight: 300;
		margin-right: 25px;
	}
	.mainContainer .navbar .userId_ .modifyBtn {
		float:left;
	    border: 1px solid #818488;
	    border-radius: 4px;
	    color: #818488;
	    padding: 6px 20px;
	    font-size: 11px;
	    margin-top: 3px;
	    margin-right : 1px;
	    cursor: pointer;
	}
	
	.mainContainer .navbar .userIntro {
		color: #4b4f54;
	    display: inline;
	    font-weight: 600;
	    font-size: 17px;
	    line-height: 21px;
	}
	
	.mainContainer .navbar .userIntro .hashtag {
		font-weight:400;
		color: #125688;
	}
	.mainContainer .navbar .userHistory div{
		float: left;
	    margin-right: 35px;
	    font-weight: 400;
	}
	    
	    
	.mainContainer .navbar .userHistory{
		line-height: 58px;
	    font-size: 17px;
	}
	
	.mainContainer .navbar .userHistory .num {
		font-weight:600;
	}
	.mainContainer .img_list {
		clear: both;
	}
}





.mainContainer .img_list .imgItem {
	float: left;
	width:32%;
	margin-left: 1.2%;
	margin-bottom: 12px;
	position: relative;
}

.mainContainer .img_list .imgItem img {
	width:100%
	
}

.mainContainer .img_list .imgItem .hover{
	position: absolute;
	display:none;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,0.3);
    width: 100%;
    height: 100%;
}

.mainContainer .img_list .imgItem:hover > .hover {
  display:block;
}

@media not screen and (min-width : 736px) and (min-device-width: 736px)  {
	.mainContainer .img_list .imgItem .hover .hoverInfo{
		display:none;
	}
}

@media screen and (min-width : 736px) and (min-device-width: 736px)  {
	.mainContainer .img_list .imgItem .hover .hoverInfo{
		position: absolute;
		display:block;
	    left: 50%;
	    top: 50%;
	    transform: translate(-50%, -50%);
	    color: white;
	    line-height: 18px;
	    margin: 0;
	    padding: 0;
	    border: 0;
	    font-size: 15px;
	    vertical-align: baseline;
	    font-weight: 600;
	}
}


    
    




#modal {
	position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    display:none;
}

#modal .backdrop {
	width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
   	over
}

#modal .content {
    position: absolute;
    left: 50%;
    width: 75%;
    height: 55%;
    background: white;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 935px;
}

#modal .content .imgSection {
	float:left;
	width:60%;
	height:100%;
}

#modal .content .imgSection img {
	width:100%;
	height:100%;
}

#modal .content .contentSection {
	width:40%;
	float:left;
}
#modal .content .contentSection .navSection {
    padding: 20px 0px;
    margin-left: 7%;
    width: 87%;
    border-bottom: 1px solid #eeefef;
    height: 37px;
}

#modal .content .contentSection .userImg {
	float:left;
	width:38px;
	height:38px;
}

#modal .content .contentSection .userImg img {
	width: 38px;
	height:38px;
	border-radius:100%;
	border: 1px solid #edeeee;
}

#modal .content .contentSection .userId {
	float: left;
    margin-top: 11px;
    margin-left: 11px;
}

#modal .content .contentSection .status {
    color: #4b4f54;
    line-height: 18px;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 15px;
    vertical-align: baseline;
    font-weight: 600;	
} 

#modal .content .contentSection .status .date {
	color: #a5a7aa;
	float:right;
	font-weight: 300;
}


#modal .content .contentSection .commentListSection {
	margin-left: 7%;
    width: 87%;
	padding-top: 25px;
	height: 68%;
	overflow-y: auto;
	border-bottom: 1px solid #edeeee;
}

#modal .content .contentSection .contentBody {
	margin:10px 0px;
	font-size:15px;
}    

#modal .content .contentSection .contentBody  .hashtag {
	color: #125688;	
}

#modal .content .contentSection .commentItem {
	clear: both;
	margin-bottom:5px;	
}

#modal .content .contentSection .commentItem  .userId{
	margin:0px;
	margin-right:5px;
}

#modal .content .contentSection .commentSection {
    margin-left: 7%;
    width: 87%;
    padding-top: 25px;
    
}

#modal .content .contentSection .commentSection .likeBtn {
	float:left;
	padding-right:5px;
}

#modal .content .contentSection .commentSection input {
	float:left;
	border: 0px;
	height: 21px;
	font-size: 15px;
    line-height: 18px;
    outline: none;
	width: 80%;
    font-family: 'proxima-nova', 'Helvetica Neue', Arial, Helvetica, sans-serif;
}



.commentItem .hashtag {
		font-weight:400;
		color: #125688;
	}








    









