<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="search">

	<select id="selectInterestItem" parameterType="hashmap" resultType="com.skplanet.project2.model.SearchDTO" >
		select s.hash_id as hashId, f.c_id as feedId, f.c_imgurl as imgurl,  ifnull(sum(distinct l_up),0) as upNum, ifnull(sum(distinct l_down),0) as downNum,ifnull(count(distinct cm_id),0) as commentNum, c_time as createTime
		from Elephant_Search s
		join Elephant_Contents f
		on s.Elephant_Contents_c_id = f.c_id
		left join Elephant_Like l 
		on s.Elephant_Contents_c_id= l.Elephant_Contents_c_id
		left join Elephant_Comment cc
		on s.Elephant_Contents_c_id = cc.Elephant_Contents_c_id
		where hash_tag=trim(#{hashtag})
		group by s.Elephant_Contents_c_id
		<if test='type == "interest"'>
   			order by upNum DESC
   		</if>
		<if test='type == "lastest"'>
   			order by c_time DESC
   		</if>
   		limit #{pageNum},5
	</select>


</mapper>