<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="signup">

	<insert id="insertUser" parameterType="com.skplanet.project2.model.UserDTO" >
	insert into Elephant_User(u_id,u_pw,u_nickname) values (#{uId},password(#{uPw}),#{uNickname})
	</insert>
	
	<select id="selectUser" parameterType="String" resultType="java.lang.Integer" >
		select count(*) as cnt from Elephant_User where u_id=#{userId}
	</select>

</mapper>